{% extends 'base.html' %}

{% block title %}Home page{% endblock %}

{% block content %}



<div class="container mt-4">
    <div class="row">
      <div class="col-sm-8">
        <div class="container mt-3">
        <h1 style="font-family:verdana; color:red;background-color:powderblue; text-align: center;"><i>Check your car resale value</i></h1>
        <img src="static\images\car_1.jpg" alt="Trulli" width="820" height="525">
        </div>
      </div>
      <div class="col-sm-4">
        <h2>TITLE HEADING</h2>
        <h5>Title description, Dec 7, 2020</h5>
        <div class="fakeimg">Fake Image</div>
        </div>
    </div>
  </div>


{% endblock %}